name: Deploy XpenseTrax.API to the server

on:
  push:
    branches:
      - master
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  deploy:
    if: github.event.pull_request.merged == true || github.event_name == 'push'
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Clone project
        run: |
          echo "${{ secrets.PSWD }}" | rm -rf /var/XpenseTrax/
          echo "${{ secrets.PSWD }}" | rm -rf /home/XpenseTrax/
          cd /home/
          echo "${{ secrets.PSWD }}" | git clone https://github.com/subiczadrian/XpenseTrax XpenseTrax

      - name: Build Docker Container
        run: |
          cd /home/XpenseTrax/
          echo "${{ secrets.PSWD }}" | docker build -t xpensetrax .

      - name: Stop & Remove Old Container
        run: |
          echo "${{ secrets.PSWD }}" | docker stop xpensetrax_container || true
          echo "${{ secrets.PSWD }}" | docker rm xpensetrax_container || true

      - name: Start Docker Container
        run: |
          echo "${{ secrets.PSWD }}" | docker run -d \
            -p 8080:80 \
            -e ASPNETCORE_URLS="http://+:80" \
            --name xpensetrax_container \
            xpensetrax

      - name: Deployment complete
        run: echo "Deployment complete! Application is live on port 8080."
